<main>
    <section class="article">
        {{#if posts}}
        {{# each posts}}
        <article>
            <h3 class="title"><a href="/article/{{ _id }}">{{ title }}</a></h3>
            <div class="label"><span class="author">{{ ../user.name }}</span><span class="time">{{ time }}</span></div>
            <p class="abstract">{{{ content }}}</p>
        </article>
        {{/each}}
        {{else}}
        <p class="note">还没有文章，赶紧去发布一篇吧~</p>
        {{/if}}
    </section>
</main>